<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-back-button text=""></ion-back-button>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src= "https://cdn.dribbble.com/users/161873/screenshots/18122682/media/321f34ef0c51d0a45a3be9a2dfc984bc.jpg" />
      </ion-avatar>
      <ion-label>
        <h1>Gnanasekar Mani</h1>
        <p>Accumulated Points: <span class="money">W 100</span></p>
      </ion-label> 
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          Yet to Start/ On Hold
          <p>28/04/2024 17:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 28/04/2024</p>
          <p>Notes: We have three bags of Waste that are full and to be collected for recycle, two are of dry waste and one is of wet waste</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="archive-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>
          Processing
          <p>29/04/2024 17:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 28/04/2024</p>
          <p>Notes: We have three bags of Waste that are full and to be collected for recycle, two are of dry waste and one is of wet waste</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          Finished
          <p>29/04/2024 17:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 28/04/2024</p>
          <p>Notes: We have three bags of Waste that are full and to be collected for recycle, two are of dry waste and one is of wet waste</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="trophy" slot="start" color="success"></ion-icon>
        <ion-label color="success">W 100</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
