<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>NetZero-Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>What do you want to do with the Netzero App?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-radio value="CLIENT" labelPlacement="end">I want to BUY it</ion-radio><br />
        <ion-radio value="PARTNER" labelPlacement="end">I want to SELL it</ion-radio><br />
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Address Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Door Number</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">County</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">EIRCode</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button shape="round" color="light" size= "full">Register</ion-button>
</ion-content>
