<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>NetZero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src= "https://cdn.dribbble.com/users/161873/screenshots/18122682/media/321f34ef0c51d0a45a3be9a2dfc984bc.jpg" />
      </ion-avatar>
      <ion-label>
        <h1>Gnanasekar Mani</h1>
        <p>Accumulated Points: <span class="money">W 100</span></p>
      </ion-label> 
    </ion-item>
  </ion-list>

  <app-pickup-call-card (buttonClicked)="handleButtonClick()" [hasHeader]="true" [hasFooter]="true" status= "hold" updatedAt="28/04/2024 17:00" createdAt="27/04/2024 17:00" notes="We have three bags of Waste that are full and to be collected for recycle, two are of dry waste and one is of wet waste"></app-pickup-call-card>

  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button color="success" (click)="newPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
